body {
  font-family: 'Rancho', serif;
  font-size: 48px;
  background: #fff;
  display: flex;
  
}

html {
  font-size: 18px;
}

h1 {
  
  color:rgb(9, 53, 148);
  display: block;
  /* margin: 0 50%; */

}

canvas{
  background-color: rgb(136, 173, 185);
  font-family: 'Rancho', serif;
  /* border: 1px solid black; */
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 5.6rem;
}

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 30s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}